@import "tailwindcss";

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

/* GLOBAL RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ROOT */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;

  background: #050505;
  color: white;

  font-family: "Inter", sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ROOT APP */
#root {
  min-height: 100vh;
}

/* LINKS */
a {
  color: inherit;
  text-decoration: none;
}

/* BUTTONS */
button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

/* IMAGES */
img {
  display: block;
  max-width: 100%;
}

/* TEXT SELECTION */
::selection {
  background: #EC1C24;
  color: white;
}

/* FIX NESTED SCROLL WITH LENIS */
.pricing-scroll {
  flex: 1;
  min-height: 0;

  overflow-y: auto;
  overflow-x: hidden;

  overscroll-behavior: contain;

  scrollbar-width: none;
  -ms-overflow-style: none;

  -webkit-overflow-scrolling: touch;
}

.pricing-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* SHOW SCROLL ONLY WHILE HOVERING */
.pricing-scroll:hover::-webkit-scrollbar {
  width: 4px;
}

.pricing-scroll:hover::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.14);
  border-radius: 999px;
}